@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.fraction, .top, .bottom {
    font-family: 'Roboto', sans-serif;
    padding: 0 5px;    
}

.fraction {
    display: inline-block;
    text-align: center;    
}

.bottom{
    border-top: 1px solid #000;
    display: block;
}